* {
	font-family: "Inter", sans-serif;
}

section {
	overflow: hidden !important;
}

.font-pompiere {
	font-family: "Pompiere", sans-serif;
}

.cursor-pointer {
	cursor: pointer;
}

p {
	margin-bottom: 0;
}

a {
	padding: 0 !important;
	text-decoration: none !important;
	color: inherit;
}

ul {
	list-style: none;
	margin-bottom: 0;
}

button {
	border: 0;
	padding: 0;
	background-color: transparent;
}

.container {
	max-width: 95%;
	padding: 0;
}

.navbar-toggler-icon {
	width: 21px;
	height: 16px;
}

.btn-toggle .open,
.btn-toggle.opened .close {
	display: block;
}

.btn-toggle .close,
.btn-toggle.opened .open {
	display: none;
}

#mobile-menu {
	top: 0px;
	left: 0;
	width: 100%;
	background: linear-gradient(140deg, rgba(234, 229, 255, 0.75) 22.65%, #fff 127.18%);
	backdrop-filter: blur(12.7px);
	transition: all 0.5s ease-in-out;
	border-top-left-radius: 21px;
	height: 0px;
	max-height: 0px;
	overflow: hidden;
}

#mobile-menu.active {
	top: 76px;
	height: calc(100vh - 76px);
	max-height: 100vh;
}

#mobile-menu li {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.26px;
	line-height: normal;
	border-bottom: 0.5px solid #b8b8b8;
}

.mobile-menu-item {
	display: none;
}

.mobile-menu-item.active {
	display: block;
}

.secondary-card {
	background-color: #3f3862;
	padding: 8px 15px;
	border-radius: 28px;
	color: #fff8fa;
	font-size: 10px;
	line-height: 10px;
	font-weight: 500;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-14-16 {
	font-size: 14px;
}

.fs-26-36 {
	font-size: 26px;
}

.bg-menu-badge {
	padding: 8px 16px;
	background-color: rgba(3, 90, 120, 0.05);
}

#activities a {
	line-height: 24px;
	font-size: 14px;
}

.btn {
	padding: 16px 20px;
	border-radius: 10px;
}

.btn-info,
.btn-info-hover:hover {
	color: #037297;
	background-color: #c8f1ff;
	border-color: #c8f1ff;
}

.btn-primary-hover:hover {
	background-color: #252139;
	color: white;
}

.btn-secondary-hover:hover {
	border-color: #252139;
	background-color: #252139;
	color: white;
}

.transition-2 {
	transition: all 0.2s ease-in-out;
}

.desk-menu-item {
	height: 75px;
	padding: 8px 10px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-size: 12px;
	cursor: pointer;
	color: #465b62;
	font-weight: 500;
	letter-spacing: 0.26px;
	position: relative;
}

.desk-menu-content {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	background: linear-gradient(140deg, rgba(234, 229, 255) 22.65%, #fff 127.18%);
	border-radius: 20px;
	transition: opacity 0.3s ease-in-out;
	z-index: -100;
}

.desk-menu-content.active {
	opacity: 1;
	z-index: 100;
}

.btn-gradient {
	background-image: linear-gradient(86deg, #ff8000 20.19%, #fa1e54 59.31%, #8ac5ff 108.1%);
}

.menu-lg {
	width: calc(100vw - 80px);
	padding: 50px 80px;
}

.menu-md {
	width: calc(50vw - 40px);
	padding: 50px;
}

#home-banner-section {
	padding-bottom: 20px;
}

.home-banner-title {
	font-size: 36px;
	color: #0078a1;
	font-weight: 500;
}

.home-banner-wrapper {
	margin-left: 30px;
}

.home-banner-btn {
	margin-top: 25px;
}

.home-banner-subtitle {
	position: relative;
	margin: 30px 0;
	padding-left: 30px;
	font-size: 20px;
}

.home-banner-subtitle:before {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-image: linear-gradient(115deg, #f29736 23.16%, #ffe069 107.16%);
	border-radius: 100%;
}

.home-turn-img {
	width: 290px;
}

.animate-turn {
	opacity: 0;
	transform: rotateY(-90deg);
	scale: 0.3;
	transition: all 0.4s ease-in-out;
	left: 20%;
}

.animate-turn.show {
	opacity: 1;
	transform: rotateY(0deg);
	scale: 1;
	transition: all 0.4s ease-in-out 0.25s;
}

.home-turn-character {
	height: 200px;
	width: 157px;
	left: -40px;
	bottom: 60px;
	z-index: -20;
}

.home-turn-title {
	background-color: rgba(37, 33, 57, 0.87);
	top: 30px;
	left: 10%;
}

.inactive-dot {
	background-color: #59527d;
	width: 5px;
	height: 10px;
	border-radius: 5px;
}

.active-dot {
	background-color: #c8f1ff;
	width: 5px;
	height: 15px;
	border-radius: 5px;
}

.home-turn-description {
	bottom: 30%;
	right: 0;
	transform: translate(30%, 0);
	backdrop-filter: blur(5px);
}

.btn-transparent {
	border: 4px solid hsla(0, 0%, 100%, 0.15);
	background-color: hsla(0, 0%, 100%, 0.12);
}

#schedule-meeting-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.schedule-title {
	font-size: 40px;
	line-height: 40px;
}

.animate-pulse {
	will-change: margin-bottom;
	animation: pulseAnimation 1.5s infinite alternate ease-in-out 0.9s;
}

.btn-date {
	transition: all 0.25s;
}

.btn-date.active,
.btn-date:hover {
	background-color: #fff0f0;
	color: red;
}

#package-section {
	padding: 0 80px;
}

.section-badge {
	background-color: rgba(3, 90, 120, 0.05);
	padding: 10px 32px;
	gap: 7px;
	width: fit-content;
	font-size: 15px;
	line-height: normal;
	font-variant: normal;
}

.relative-middle {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.youtube-character-img {
	opacity: 0;
	object-fit: cover;
	vertical-align: middle;
	transition: opacity 0.25s ease;
	height: 250px;
}

.slide-show .youtube-character-img {
	opacity: 1;
}

.youtube-img-title {
	font-size: 36px;
	line-height: 110%;
	font-weight: 500;
	opacity: 1;
}

.slide-show .youtube-img-title {
	opacity: 0;
}

.youtube-img-subtitle {
	background: linear-gradient(314deg, rgba(37, 33, 57, 0.74) 39.06%, rgba(89, 82, 125, 0.74) 119.17%);
	backdrop-filter: blur(6.5px);
	width: calc(100% - 60px);
	left: 30px;
	right: 30px;
	bottom: 20px;
	border-radius: 15px;
	padding: 12px 20px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.slide-show .youtube-img-subtitle {
	opacity: 1;
}

.youtube-subtitle-main {
	font-size: 14px;
	color: #f0f5f4;
	line-height: 107%;
	font-weight: 500;
	margin-left: -6px;
}

.youtube-subtitle-view {
	font-size: 12px;
	line-height: 125%;
}

.youtube-slide-btn-wrapper {
	top: 50px;
	right: 0px;
}

.license-img {
	display: none;
}

.license-img.active {
	display: block;
}

.license-item {
	padding: 8px 0;
}

.license-title {
	color: #252139;
	font-size: 32px;
	line-height: 107%;
	margin-right: 30px;
	font-weight: 500;
}

.license-item.active .license-title {
	color: #037095;
	font-size: 32px;
	font-weight: 531;
	line-height: 98%;
	transition: color 0.25s, font-size 0.25s, line-height 0.25s, font-weight 0.25s;
}

.license-description {
	display: none;
	opacity: 0;
	width: 100%;
}

.license-item.active .license-description {
	display: block;
	opacity: 1;
}

.license-description-wrapper {
	position: inherit;
}

.license-type-title-wrapper {
	text-align: center;
}

.license-type-title {
	font-size: 32px;
	font-weight: 500;
}

.license-type-subtitle {
	line-height: 28px;
	font-weight: 400;
}

.license-button-title {
	width: 150px;
	color: white;
	transition: 0.25s;
	font-size: 20px;
	line-height: 22px;
}

.license-button {
	background-color: #252139;
	transition: all 0.5s cubic-bezier(0.17, 0.67, 0.21, 1);
}

.license-button .license-button-title {
	color: white;
}

.license-button:hover {
	background-color: #c8f1ff;
}

.license-button:hover .license-button-title {
	color: black;
}

@keyframes pulseAnimation {
	0% {
		margin-bottom: 0px;
	}
	100% {
		margin-bottom: 10px;
	}
}

/* -------------- sm --------------- */
@media (min-width: 576px) {
	#home-banner-section {
		padding-top: 10px;
		padding-bottom: 85px;
	}

	.home-banner-title {
		font-size: 40px;
	}

	.home-turn-img {
		width: 360px;
		height: 365px;
	}

	.home-turn-character {
		width: 217px;
		height: 300px;
		bottom: 18px;
	}
}

/* -------------- md --------------- */
@media (min-width: 768px) {
	.license-type-title {
		font-size: 44px;
		font-weight: 500;
		line-height: 64.4px;
	}

	.license-type-title-wrapper {
		text-align: left;
	}

	#home-banner-section {
		padding-top: 30px;
		padding-bottom: 85px;
	}

	.home-banner-subtitle {
		margin: 60px 0 0;
	}

	.schedule-title {
		font-size: 44px;
	}

	.animate-turn {
		left: 0;
	}

	.youtube-subtitle-main {
		margin-left: 0px;
	}

	.youtube-slide-btn-wrapper {
		top: 0px;
	}

	.license-item {
		height: 150px;
	}

	.license-description-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.license-title {
		font-size: 44px;
	}

	.license-item.active .license-title {
		font-size: 65px;
	}

	.license-item {
		padding: 0;
	}

	.license-description {
		display: block;
		opacity: 0;
		width: 80%;
	}

	.license-item.active .license-description {
		display: block;
		opacity: 1;
	}
}

/* -------------- lg --------------- */
@media (min-width: 992px) {
	#mobile-menu.show {
		display: none;
	}

	.fs-26-36 {
		font-size: 36px;
	}

	.home-banner-title {
		font-size: 36px;
	}

	.home-banner-btn {
		margin-top: 40px;
	}

	.home-turn-img {
		width: 400px;
		height: 407px;
	}

	#schedule-meeting-section {
		padding-top: 130px;
		padding-bottom: 130px;
	}

	.schedule-title {
		font-size: 64px;
		line-height: 64px;
	}

	#package-section {
		padding: 0 150px;
	}
}

/* -------------- xl --------------- */
@media (min-width: 1200px) {
	.container {
		max-width: 1140px !important;
	}

	.fs-14-16 {
		font-size: 16px;
	}

	#home-banner-section {
		padding-top: 45px;
	}

	.home-banner-title {
		font-size: 55px;
	}

	.home-banner-wrapper {
		margin-left: 100px;
	}

	.home-turn-img {
		width: 500px;
		height: 507px;
	}

	.home-turn-character {
		width: 317px;
		height: 400px;
		bottom: 40px;
	}
}

/* -------------- xxl --------------- */
@media (min-width: 1350px) {
	.container {
		max-width: 1300px !important;
	}

	#home-banner-section {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.youtube-subtitle-main {
		font-size: 24px;
	}

	.youtube-subtitle-view {
		font-size: 15px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1380px !important;
	}

	.menu-lg {
		width: 1380px;
		padding: 50px 80px;
	}

	.menu-md {
		width: 690px;
		padding: 50px;
	}

	.home-banner-title {
		font-size: 72px;
	}
}

/* -------------- Xl --------------- */
@media (min-width: 1650px) {
	#home-banner-section {
		padding-top: 85px;
		padding-bottom: 85px;
	}
}
